spring:
  main:
    banner-mode: "off"
  jackson:
    default-property-inclusion: non_null

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driverClassName: org.h2.Driver
    initialization-mode: never
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /console
      settings:
        trace: false
        web-allow-others: false
server:
  port: 8080
  compression:
    enabled: true
    mime-types: appilication/json
    min-response-size: 1024
  servlet:
    context-path: /api
